<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main class="main">
      <a class="index-new-post" href="/new-post">
        Make new post
        <span class="material-symbols-outlined">add_comment</span>
      </a>
      <% for (const post of posts) { %>
      <article class="post">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>

        <% if(user && user.member) { %>
        <p>
          By
          <em><%= post.author.username %></em>
        </p>
        <% } else { %>
        <p>
          By
          <em>Anon</em>
        </p>
        <% } %> <% if(user && user.admin){ %>
        <form action="/delete/<%= post._id %>" method="post">
          <button type="submit">Delete</button>
        </form>
        <% } %>
      </article>
      <% } %>
    </main>
  </body>
</html>
