<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main class="main">
      <% for (const post of posts) { %>
      <article class="post">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>

        <% if(user && user.member) { %>
        <p>
          By
          <em><%= post.author.username %></em>
        </p>
        <% } else { %>
        <p>
          By
          <em>Anon</em>
        </p>
        <% } %>
      </article>
      <% } %>
    </main>
  </body>
</html>
